#usersContainer{
    display: inline-block;
    width: 68%;
    height: auto;
    margin: 5px 25px;
    position: absolute;
}

.userContainers{
    margin: 5px;
    padding: 5px;
    width: 30%;
    height: auto;
    display: inline-block;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
    box-shadow: 5px 5px 5px gray;
}